<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tax Calculator
    body
        h1 Tax Calculator
        form(action="/", method="post")
            label(for='income') Gross Income: 
            input#income(type='number' name='income' style='width:25%')
            button.btn.btn-primary(type='submit') Submit
        p= `Tax Amount: $${taxes.tax}`
                