html
    head
        title Names of EU Countries
    body
        h1 EU Countries
        ul
            each country in countries
                li
                    a(href='/' + country.alpha3Code)= country.name
