<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Topo Shoes
    body
        header
            table(style='width:100%')
                tr
                    th 
                        a(href='/') HOME
                    th
                        a(href='/shoes?gender=men') MEN'S SHOES
                    th
                        a(href='/shoes?gender=women') WOMEN'S SHOES
                    th
                        a(href='/login') LOG IN
        h1 Topo Shoes