extends layout

block content
    .error
        h4= error
    form(action='/login' method='post')
        .form-group
            label(for='firstname') First Name
            input#username.form-control(type='text' name='username')
        .form-group
            label(for='lastname') Last name
            input#password.form-control(type='password' name='password')
        .form-group
            label(for='username') Username
            input#username.form-control(type='text' name='username')
        .form-group
            label(for='password') Password
            input#password.form-control(type='password' name='password')
        .form-group
            label(for='password') Repeat Password
            input#username.form-control(type='text' name='username')
        .form-group
            label(for='email') Email Address
            input#password.form-control(type='password' name='password')
        .form-group
            label(for='address') Mailing Address
            input#username.form-control(type='text' name='username')
        .form-group
            label(for='city') City
            input#password.form-control(type='password' name='password')
        .form-group
            label(for='state') State (Postal Code)
            input#username.form-control(type='text' name='username')
        .form-group
            label(for='zipcode') Zip Code (5 digits)
            input#password.form-control(type='password' name='password')
        button.btn.btn-primary(type='submit') Submit
        br
        a(href='/login') Already have an account?