<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Add a Customer
    body
        h1 Add a New Customer
        form(action="/add", method="post")
            p
                label(for='firstName') First Name
                br
                input(type='text' id="firstName" name='firstName' value=customer ? customer.firstName: "")
            p
                label(for='lastName') Last Name
                br
                input(type='text' id="lastName" name='lastName' value=customer ? customer.lastName: "")
            p
                label(for='phoneNumber') Phone (###-###-####)
                br
                input(type='text' id="phoneNumber" name='phoneNumber' value=customer ? customer.phoneNumber: "")
            p
                input(type='hidden' name="CustomerId" value=customer ? customer.id: "")
                input(type='submit' value="Submit")