<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    h1 Customers
      a(href="/add")
        button add
    table
      tr
        th Name
      each customer in customers
        tr
          td= customer.firstName + " " + customer.lastName
          td
            a(href="/add?customerId=" + customer.id)
              button modify
          td
            a(href="/delete?customerId=" + customer.id)
              button delete
    h3= environment